.business__card {
  margin: 1.2rem;

  &--description {
    height: 63px;
  }

  &--category {
    height: 50px;
    overflow-y: scroll;
    scrollbar-width: 10px;
  }

  &--images {
    display: flex;
    justify-content: space-evenly;
    margin: 0.7rem;
    height: 100px;
  }

  &--image {
    border: 1px solid rgb(33, 33, 32);
    overflow: hidden;
    border-radius: 3px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  &--action__btns {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 400px) {
  .business__card--description {
    overflow-y: scroll;
  }
}
