.add__business__form {
  &--categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  div.form__errors {
    font-size: 0.7rem;
    color: rgb(230, 42, 42);
    font-weight: 600;
    text-align: right;
  }

  &--cta__btns {
    display: flex;
    justify-content: space-evenly;
  }
}
