.admin__dashboard {
  padding: 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;

  .icon {
    width: 2px;
  }

  &--business__list {
    display: flex;
    flex-wrap: wrap;
  }

  .add__icon {
    position: fixed;
    bottom: 10vh;
    right: 10px;

    svg {
      font-size: 4rem;
      color: rgb(103, 172, 103);
    }

    svg:hover {
      color: seagreen;
      cursor: pointer;
    }
  }
}
